@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #3DB66B;
    --secondary-color: #006125;
    --text-color: #ecf0f1;
    --text-secondary-color: #09361A;
    --background-color: #AAFFCB;
    --vermelho-bahia: #E71A3A;
    --azul-bahia: #0033C5;
}


.conteudo h1 {
    color: var(--text-color);
    background-image: linear-gradient(to right, var(--vermelho-bahia), var(--azul-bahia));
    width: 100%;
    text-align: center;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.781);
}

.conteudo h2 {
    color: black;
    margin-top: 20px;
    margin-left: 15px;
    padding: 5px;
    width: fit-content;
}


.conteudo p {
    width: 90vw;
    margin-top: 30px;
    margin-left: 15px;
    text-align: justify;
}