@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #3DB66B;
    --secondary-color: #006125;
    --text-color: #ecf0f1;
    --text-secondary-color: #09361A;
    --background-color: #AAFFCB;
    --vermelho-bahia: #E71A3A;
    --azul-bahia: #0033C5;
}





.conteudo h1 {
    color: var(--text-color);
    background-color: var(--azul-bahia);
    border-bottom: 6px solid var(--vermelho-bahia) ;
    padding: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.781);
    margin: 0;
}

.conteudo h2 {
    
    color: var(--azul-bahia);
    padding: 20px;
    width: fit-content;
}


.subtitulo{
    display: flex;
    align-items: center;
    margin-bottom: 30px;}

.subtitulo img{
    margin-top: 10px;
    width: 100px;
    height: auto;
    margin-left: 10px;
    margin-right: 17px;
}

.subtitulo span{
    color: var(--vermelho-bahia);
}


.conteudo p {
    width: 90vw;
    margin-top: 30px;
    margin-left: 15px;
    text-align: justify;
    text-indent: 20px;
    color: var(--azul-bahia);
}