@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #3DB66B;
    --secondary-color: #006125;
    --text-color: #ecf0f1;
    --text-secondary-color: #09361A;
    --background-color: #AAFFCB;
    --vermelho-bahia: #E71A3A;
    --azul-bahia: #0033C5;
    --preto-ponto: #252122;
    --laranja-ponto: #F37920;
}

.titulo h1{
    color: var(--text-color);
    background-color: var(--preto-ponto);
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.781);
    margin-top: 100px;
    border-bottom: solid 6px var(--laranja-ponto);
    text-shadow: 1px 1px 1px black;
   
}

.funcionarios{
    display: block;
}


.funcionario{
    display: flex;
    justify-items: auto;
    align-items: center;
}

.funcionario img{
    margin-top: 40px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.781);
    margin-right: 20px;
    margin-left: 10px;
    border: solid 1px rgba(0, 0, 0, 0.319);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 170px;
}

.descricao{
    font-weight: 600;
    font-size: 17px;
    margin-top: 25px;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.7ms;
}

a:hover{
    color:var(--laranja-ponto);
}