:root {
    --primary-color: #3DB66B;
    --secondary-color: #006125;
    --text-color: #ecf0f1;
    --text-secondary-color: #09361A;
    --background-color: #AAFFCB;
    --vermelho-bahia: #E71A3A;
    --azul-bahia: #0033C5;
}
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;}
    
    .contato {
        margin-top: 20px;
        background: #ffffff; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 0; 
        width: 100%;
        justify-items: auto;
    }

    
    .contato h2 {
        text-align: center;
        color: var(--secondary-color); 
        font-size: 28px;
        margin-bottom: 20px;
    }

    
    .contato h3 {
        color: var(--secondary-color);
        font-size: 20px;
        margin-top: 20px;
        border-left: 4px solid var(--primary-color);
        padding-left: 10px;
    }

    
    .contato p {
        margin: 10px 0;
        text-align: justify;
    }

    
    .informacoes-contato {
        margin-bottom: 20px;
        font-size: 16px;
        color: #555;
    }

    
    form {
        display: flex;
        flex-direction: column;
    }

    form label {
        margin-bottom: 5px;
        color: #333;
    }

    form input,
    form textarea {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box; 
    }
    form input:focus,
    form textarea:focus {
        border-color: var(--primary-color);
        outline: none;
    }

    form button {
        padding: 10px;
        font-size: 16px;
        color: white;
        background-color: var(--primary-color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 25px;
    }

    form button:hover {
        background-color: var(--secondary-color);
    }

