@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



:root {
    --primary-color: #3DB66B;
    --secondary-color: #006125;
    --text-color: #ecf0f1;
    --text-secondary-color: #09361A;
    --background-color: #AAFFCB;
    --vermelho-bahia: #E71A3A;
    --azul-bahia: #0033C5;
    --preto-ponto: #252122;
    --laranja-ponto: #F37920;
}

.conteudo {
    margin-top: 100px;
    padding: 0px;
}

.conteudo h1 {
    margin-top: 20px;
    margin-left: 15px;
}

.conteudo h2 {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 1.3em;
}

.conteudo p {
    margin-top: 20px;
    margin-left: 15px;
    width: 90%;
    text-align: justify;
}

.pao-conteudo p{
    text-indent: 20px;
    font-weight: 600;
}
.card {
    margin: auto;
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.bahia {
    color: var(--azul-bahia);
    strong {
        color: var(--vermelho-bahia);
    }
    h2 {
        margin: 0px;
        padding: 10px;
    }
}

.ponto {
    margin-bottom: 30px;
    color: var(--preto-ponto);
    strong {
        color: var(--laranja-ponto);
    }
    h2 {
        margin: 0px;
        padding: 10px;
    }
}

.card img {
    width: 100px;
}

.card a {
    background-color: var(--azul-bahia);
    color: var(--text-color);
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    transition: .5s;
}

.card a:hover {
    color: var(--azul-bahia);
    background-color: var(--text-color);
}