@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



:root {
    --primary-color: #3DB66B;
    --secondary-color: #006125;
    --text-color: #ecf0f1;
    --text-secondary-color: #09361A;
    --background-color: #AAFFCB;
    --vermelho-bahia: #E71A3A;
    --azul-bahia: #0033C5;
    --preto-ponto: #252122;
    --laranja-ponto: #F37920;
}



.conteudo h1 {
    color: var(--text-color);
    background-image: linear-gradient(to right, var(--preto-ponto), var(--laranja-ponto));
    width: 100%;
    text-align: center;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.781);
    margin: 0;
    text-shadow: 1px 1px 1px black;
}

.conteudo h2 {
    color: var(--preto-ponto);
    margin-top: 20px;
    margin-left: 15px;
    padding: 5px;
    width: fit-content;
}


.conteudo p {
    width: 90vw;
    margin-top: 30px;
    margin-left: 15px;
    text-align: justify;
    color: var(--preto-ponto);
}

