@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



:root {
    --primary-color: #3DB66B;
    --secondary-color: #006125;
    --text-color: #ecf0f1;
    --text-secondary-color: #09361A;
    --background-color: #AAFFCB;
    --vermelho-bahia: #E71A3A;
    --azul-bahia: #0033C5;
    --preto-ponto: #252122;
    --laranja-ponto: #F37920;
}



.conteudo h1 {
    color: var(--text-color);
    background-color: var(--preto-ponto);
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.781);
    margin: 0;
    border-bottom: solid 6px var(--laranja-ponto);
    text-shadow: 1px 1px 1px black;
   
}

.subtitulo{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: var(--preto-ponto);
}

.subtitulo img{
    margin-top: 15px;
    width: 100px;
    height: auto;
    margin-left: 48px;
    margin-right: 17px;    
}


.conteudo p {
    width: 90vw;
    margin-top: 30px;
    margin-left: 15px;
    text-align: justify;
    color: var(--preto-ponto);
    text-indent: 20px;
}

